.DS_Store
node_modules
storage/sqlite/db
storage/sqlite/se
storage/cert/*

# local env files
src/.env
src/.env.*
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
